<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <title>LettuceThink</title>

<style>
.add-vertical-space { margin-top: 16px; }
.btn-standout { padding: 12px; font-size: 28px; line-height: 30px; white-space: normal; }
.zone-info { padding: 0px; font-size: 24px; line-height: 24px; border: 0px; margin: 4px; }
.zone-details { padding: 0px; font-size: 14px; line-height: 16px; border: 0px; margin: 0px; }
</style>
    
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="zone-info text-center">Planche {{location.bed}} - Zone {{location.zone}}</div>
          <div class="zone-details text-center">{{ action[3] }}</div>
          <div class="zone-details text-center">{{ action[2] }}</div>
{% for h in history %}
          <div class="zone-details text-center">{{ h[3] }}: {{ h[2] }}</div>
{% endfor %}        
        </div>
      </div>

      <div class="row add-vertical-space">
        <div class="col-sm">
          <button type="button" id="hoe_all" class="btn {% if action[4] == 'hoe_all' %}btn-primary{% else %}btn-outline-primary{% endif %} btn-lg btn-block btn-standout">Sarcler toute la surface</button>
        </div>
      </div>
        
      <div class="row add-vertical-space">
        <div class="col-sm">
          <button type="button" id="skip" class="btn {% if action[4] == 'skip' %}btn-primary{% else %}btn-outline-primary{% endif %} btn-lg btn-block btn-standout">Ne rien faire</button>
        </div>
      </div>
      
      <div class="row add-vertical-space">
        <div class="col-sm">
          <hr> 
        </div>
      </div>

      <div class="row add-vertical-space">
        <div class="col-sm">
          <button type="button" id="next" class="btn btn-outline-secondary btn-lg btn-block btn-standout">Zone suivante</button> 
        </div>
      </div>

      <div class="row add-vertical-space">
        <div class="col-sm">
          <button type="button" id="previous" class="btn btn-outline-secondary btn-lg btn-block btn-standout">Zone précédente</button> 
        </div>
      </div>

      <div class="row add-vertical-space">
        <div class="col-sm">
          <button type="button" id="farm" class="btn btn-outline-secondary btn-lg btn-block btn-standout">Retour aux planches</button> 
        </div>
      </div>
      
      <div class="row add-vertical-space">
        <div class="col-sm">
          <button type="button" id="home" class="btn btn-outline-secondary btn-lg btn-block btn-standout">Repositionner l'outil</button> 
        </div>
      </div>

      <div class="row add-vertical-space">
        <div class="col-sm">
          <hr> 
        </div>
      </div>

    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<script>
var bed = "{{ location.bed }}";
var zone = {{ location.zone }};

function loadPage(path) {
    window.location = path + "?bed=" + bed + "&zone=" + zone;
}

$(function(){
  $("#hoe_all").on("click", function (e) {
    loadPage("hoe_all");
  });
  $("#skip").on("click", function (e) {
    loadPage("skip");
  });
  $("#home").on("click", function (e) {
    loadPage("homing");
  });
  $("#previous").on("click", function (e) {
    window.location = "moveto?bed=" + bed + "&zone=" + (zone-1);
  });
  $("#next").on("click", function (e) {
    window.location = "moveto?bed=" + bed + "&zone=" + (zone+1);
  });
  $("#farm").on("click", function (e) {
    loadPage("/");
  });
});

</script>
  </body>
</html>
